<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="title"><title>${_("Courses")}</title></%block>

<!--@begin:add css link-->
<!--@date:2013-11-02-->
<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/ppd-general01.css"/>
<!--@end-->

<style type="text/css" media="screen">
    #page-nav,#page-footer{width:960px;}
    #btn-logged-user{display:none;}
</style>

<section class="find-courses" style="text-align:center;background:#F5F5F5;">
	<!--@begin:use new image name(ppd-...); use (background:url..) replace <img src=...>-->
	<!--@date:2013-11-02-->
	<div style="margin:0 auto;width:960px;height:125px;background:url(static/images/ppd-courses-banner01.png);border-bottom:1px solid #000;">
	<!--@end-->
	
		<!--@begin:use html text to replace the text on the picture; add code(class="_...") to modify font style-->
		<!--@date:2013-11-02-->
		<section class="_banner_title_font">
			PROFESSIONAL DEVELOPMENT COURSES
			<section class="_banner_title_content_font">
				to become a specialist in Common Core
			</section>
		</section>
		<!--@end-->
	</div>
  <!--
  <section style="margin:auto;text-align:left;width:960px;background:#E6F5FC;">
    <div style="padding:20px;color:#666;">
      <span style="color:#3468A1;font-family: 'Open Sans';">COURSE (${len(courses)})</span> &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#">all</a> |
      <a href="#" style="color:#666">new</a> |
      <a href="#" style="color:#666">current</a> |
      <a href="#" style="color:#666">past</a>
    </div>
  </section>
  -->
  <section style="margin:auto;width:960px;background:#FFF;">
    <section style="padding:0 30px 0 30px;" class="courses">
      <ul class="courses-listing">
        %for course in courses:
        <li style="float:none" class="courses-listing-item">
          <%include file="../course.html" args="course=course" />
        </li>
        %endfor
      </ul>
    </section>
  </section>
</section>


