<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="title"><title>${_("Privacy Policy")}</title></%block>

<!--@begin:Change the whole page content in Privacy-->
<!--@date:2013-11-02-->
<section class="static-container privacy-policy">
  <h1>${_("Privacy Policy")}</h1>
  <hr class="horizontal-divider"/>

  <div class="inner-wrapper">

    <h2>${_("Confidentiality &amp; Security of Personal Information")}</h2>
    <p>We care about the confidentiality and security of your personal information. We will use commercially reasonable efforts to keep your Personal Information secure. (“Personal Information” is defined below.) However, no method of transmitting or storing electronic data is ever completely secure, and we therefore cannot guarantee the security of information transmitted to or stored by the Pepper Website. (As used in this Privacy Policy, “we,” “us” and “our” refer to Public Consulting Group) PLEASE NOTE THAT YOU SHOULD NOT PROVIDE ANY INFORMATION PROTECTED BY THE FAMILY EDUCATIONAL RIGHTS AND PRIVACY ACT (“FERPA”) ON THIS SITE, AND WE DISCLAIM ANY AND ALL LIABILITY IN CONNECTION WITH YOUR USE OR DISCLOSURE OF FERPA PROTECTED INFORMATION ON THE PEPPER WEBSITE.</p>
    <p>This Privacy Policy only applies to information that we collect through the Pepper Website (the “Site,” which consists of all content and pages located within the Pepper web domain) and does not apply to information that we may collect from you in other ways (for example, this policy does not apply to information that you may provide to us over the phone, by fax or through conventional mail).</p>

    <h2>${_("Usernames and Postings")}</h2>
    <p>Comments or other information posted by you to our forums, wikis or other areas of the Site designed for public communications or communications among registered Pepper members may be viewed and downloaded by others who visit the Site. For this reason, we encourage you to use discretion when deciding whether to post any information that can be used to identify you to those forums (or other public or class-wide areas). </p>

    <h2>${_("What You Consent to by Using Our Site")}</h2>
    <p>By accessing, browsing, or registering for the Site, you consent and agree that information about you collected through the Site may be used and disclosed in accordance with the Privacy Policy and our <a href="/tos">Terms of Service</a> and as permitted or required by law, and that such information may be transferred to, processed in and stored in the United States and elsewhere. If you do not agree with these terms, then please do not access, browse, or register for the Site. If you choose not to provide us with certain information required to provide you with various services offered on our Site, you may not be able to establish a user account and we may not be able to provide you with those services.</p>
    <p>As used in this Privacy Policy, “Personal Information” means any information about yourself that you may provide to us when using the Site, such as when you sign up for a user account or enter into a transaction through the Site, which may include (but is not limited to) your name, contact information, gender, date of birth, and occupation.</p>

    <h2>${_("Information We Collect and How We Use It")}</h2>
    <p>We collect information, including Personal Information, when you sign up for a user account, participate in online courses, send us email messages and/or participate in our public forums. We collect information about course performance and patterns of learning. We track information indicating, among other things, which pages of our Site were visited, the order in which they were visited, when they were visited and which hyperlinks and other user interface controls were used.</p>

    <p>We may log the IP address, operating system and browser software used by each user of the Site, and we may be able to determine from an IP address a user's Internet Service Provider and the geographic location of his or her point of connectivity. Various web analytics tools are used to collect this information. Some of the information is collected through cookies (small text files placed on your computer that store information about you, which can be accessed by the Site). You should be able to control how and whether cookies will be accepted by your web browser. Most browsers offer instructions on how to reset the browser to reject cookies in the “Help” section of the toolbar. If you reject our cookies, many functions and conveniences of this Site may not work properly.</p>

    <p>Among other things, we and the educational institutions that provide courses through Pepper (the “Institutions”) may use the information about you collected through the Site (including your Personal Information) in connection with the following:</p>
    <ul>


<li>To enable the Institutions to provide, administer and improve the courses.</li>
<li>To help us and the Institutions improve Pepper offerings, both individually (e.g., by course staff when working with a student) and in aggregate, and to individualize the experience and to evaluate the access and use of the Site and the impact of Pepper on the worldwide educational community.</li>
<li>For purposes of scientific research, particularly, for example, in the areas of cognitive science and education. For the purpose for which you specifically provided the information, for example, to respond to a specific inquiry or provide you with access to the specific course content and/or services you select.</li>
<li>To track both individual and aggregate attendance, progress and completion of an online course, and to analyze statistics on performance and how participants learn.</li>
<li>To monitor and detect violations of the  Terms of Service, as well as other misuses and potential misuses of the Site.</li>
<li>To publish information, but not Personal Information, gathered about Pepper access, use, impact, and student performance.</li>
<li>To send you updates about online courses offered by Pepper or other events, to send you communications about products or services of Pepper, Pepper affiliates, or selected business partners that may be of interest to you, or to send you email messages about Site maintenance or updates.</li>
<li>To archive this information and/or use it for future communications with you.</li>
<li>To maintain and improve the functioning and security of the Site and our software, systems and network.</li>
<li>For purposes described elsewhere in this Privacy Policy (including, e.g., Sharing with Third Parties).</li>
<li>As otherwise described to you at the point of collection, pursuant to your consent, or as otherwise permitted by law.</li>


    
    </ul>

    <h2>${_("Sharing with Third Parties")}</h2>
    <p>We will share information we collect with the Institutions, and we and the Institutions may share this information (including Personal Information) with third parties as follows:</p>
    <ul>
    With service providers or contractors that perform certain functions on our or the Institutions' behalf, including processing information that you provide to us on the Site, processing purchases and other transactions through the Site, operating the Site or portions of it, providing or administering courses, or in connection with other aspects of Pepper services.</li>
<li>With other visitors to the Site, to the extent that you submit comments, course work or other information or content (collectively, “Postings”) to a portion of the Site designed for public communications; and with other members of a Pepper class of which you are a member, to the extent you submit Postings to a portion of the Site designed for viewing by those class members. We may provide your Postings to students who later enroll in the same classes as you, within the context of the forums, the courseware or otherwise. If we do re-post your Postings originally made to non-public portions of the Site, we will post them without your real name and e-mail (except with explicit permission), but we may use your username.</li>
<li>For purposes of scientific research, particularly, for example, in the areas of cognitive science and education. However, we will only share Personal Information about you for this purpose to the extent doing so complies with applicable law.</li>
<li>To provide opportunities for you to communicate with other users who may have similar interests or educational goals. For instance, we may recommend specific study partners or connect potential student mentees and mentors. In such cases, we may use all information collected about you to determine who might be interested in communicating with you, but we will only provide other users your username, and not disclose your real name or e-mail address to your contact.</li>
<li>To respond to subpoenas, court orders, or other legal process; in response to a request for cooperation from law enforcement or another government agency; to investigate, prevent or take action regarding illegal activities, suspected fraud, security or technical issues, or to enforce our Terms of Service or this Privacy Policy; as otherwise may be required by applicable law; or to protect our rights, property or safety or those of others.</li>
<li>With affiliates of Pepper or the Institutions, or with successors in the event of a merger, acquisition or reorganization, for their use consistent with this Privacy Policy.</li>
<li>As otherwise described to you at the point of collection, pursuant to your consent, or otherwise as permitted by law (e.g., disclosures permitted under FERPA, to the extent FERPA applies to the information).</li>
<li>For integration with third party services. For example, videos and other content may be hosted on YouTube and other websites not controlled by Public Consulting Group.</li>
    </ul>

    <p>In addition, we may share aggregated information that does not personally identify you with the public and with third parties, including, e.g., researchers and business partners.</p>

    <h2>${_("Links to Other Websites")}</h2>

    <p>The Sites may contain links to websites published by other content providers. These other websites are not under our control, and you acknowledge and agree that we are not responsible for the collection and use of your information by such websites. We encourage you to review the privacy policies of each website you visit and use.</p>

    <h2>${_("Personalization and Pedagogical Improvements")}</h2>
    <p>Our goal is to provide current and future visitors with the best possible educational experience. To further this goal, we sometimes present different users with different versions of course materials and software. We do this to personalize the experience to the individual learner (assess the learner's level of ability and learning style, and present materials best suited to the learner), to evaluate the effectiveness of our course materials, to improve our understanding of the learning process and to otherwise improve the effectiveness of our offerings. We may publish or otherwise publicize results from this process, but, unless otherwise permitted under this Privacy Policy, those publications or public disclosures will not include Personal Information.</p>

    <h2>${_("Changing Our Privacy Policy")}</h2>
    <p>Please note that we review and may make changes to this Privacy Policy from time to time. Any changes to this Privacy Policy will be effective immediately upon posting on this page, with an updated effective date. By accessing the Site after any changes have been made, you signify your agreement on a prospective basis to the modified Privacy Policy and any changes contained therein. Be sure to return to this page periodically to ensure familiarity with the most current version of this Privacy Policy.</p>

    <h2>${_("Privacy Concerns")}</h2>
    <p>If you have privacy concerns, have disclosed data you would prefer to keep private, or would like to access the information we maintain about you, please contact us at peppersupport@pcgus.com.</p>

    <p>${_("<strong>Effective Date:</strong> October 1, 2013")}</p>
  </div>
</section>
<!--@end-->
