<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%! from time import strftime %>

<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<!--@begin:add css link-->
<!--@date:2013-11-02-->
<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/ppd-general01.css"/>
<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/contact.css"/>
<!--@end-->

<style type="text/css" media="screen">
	/*@begin:hide button dashboard*/
	/*@date:2013-11-02*/
	#btn-dashboard{display:none;}
	/*@end*/
	
  #page-nav,#page-footer{
  width:960px;
  }
  ul.left {
  list-style:none;
  }
  ul.left li{
  margin-top:30px;font-size:16px;
  }
  ul.left a{
  color:#666;
  }  
</style>
<div style="text-align:center;background:#f5f5f5">
  <!--@begin:use new image name(ppd-...); use (background:url..) replace <img src=...>-->
  <!--@date:2013-11-02-->
  <div style="margin:auto;width:960px;height:195px;background:url(static/images/ppd-general-banner01.png);">
  <!--@end-->
	
    <!--@begin:use html text to replace the text on the picture; add code(class="_banner_title_font") to modify font style-->
    <!--@date:2013-11-02-->
    <section class="_banner_title_font">LET US HEAR FROM YOU</section>
    <!--@end-->
	</div>
  
  <div style="width:960px;margin:auto;background:#fff;">
    <div style="float:left;width:217px;height:951px;background:#E6F4FB;text-align:left;">
	
      <ul class="left">
        <li><a href="/intro">ABOUT PEPPER</a></li>
        <li><a href="/intro_research">RESEARCH & PEDAGOGY</a></li>
        <li><a href="/intro_ourteam">OUR TEAM</a></li>
        <li><a href="/intro_faq">FAQ</a></li>
		    <li><a href="/_contact" style="color:#3461ad;">CONTACT US</a></li>

        <!--@begin:add new url-->
        <!--@date:2013-11-02-->
        <li><a href="/press">PRESS</a></li>
        <!--@end-->
      </ul>
    </div>
    <div style="float:left;width:743px;height:951px;text-align:left;">
      <div style="padding:20px;">
        <h2 style="font-weight:300 !important;font-size:25px;color:#3461ad;text-align:left;margin-bottom:0;margin-top:0px;">SCHEUDLE A DEMO</h2>
        <hr />

        <!--@begin:add code(class="_...") to modify font style; add some new content and mail>
        <!--@date:2013-11-02-->
        <p class="_body_content_font">
         To receive more information about <a href="mailto:pepper@pcgus.com" class="blue">signing up</a> teachers in your district or to schedule a demo, please contact us at <a href="mailto:pepper@pcgus.com" class="blue">pepper@pcgus.com</a> or call us today at 775-313-3121. We look forward to speaking with you soon.
        </p>
        <h2 style="font-weight:300 !important;font-size:25px;color:#3461ad;text-align:left;margin-bottom:0;margin-top:30px;">WE WOULD LIKE TO HEAR FROM YOU</h2>
        <hr />
        <img src="static/images/google.png" style="float:right;" alt="" />
        <p class="_body_content_font">
          Already a Pepper member? If you have questions or suggestions about a specific course please post them in your course's discussion forum.
        </p>
        <p class="_body_content_font">
          Not a member yet and have a general question about Pepper? Please visit our FAQ's. Still need help or want to give us general feedback (which we want), contact us below.
        </p>
		<!--@end-->

        <!--@begin:add code(class="_...") to modify font style; write real form code replace the image; modify "option" content; add submit button-->
        <!--@date:2013-11-02-->
		<table class="connect_us_table _body_content_font" width="500" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td width="120">Your Email: <span class="red">*</span></td>
				<td><input class="connect_input" id="edit-submitted-your-email" name="submitted[your_email]" size="60" type="email"></td>
			</tr>
			<tr>
				<td>Full name:<span class="red"> *</span></td>
				<td><input class="connect_input" id="edit-submitted-your-email2" name="edit-submitted-your-email" size="60" type="email"></td>
			</tr>
			<tr>
				<td>Phone: </td>
				<td><input class="connect_input" id="edit-submitted-your-email3" name="edit-submitted-your-email2" size="60" type="email"></td>
			</tr>
			<tr>
				<td>Inquiry type: <span class="red">*</span></td>
				<td>
					<select id="edit-submitted-inquiry-type-student" name="submitted[inquiry_type_student]" class="connect_us_select">
						<option value="" selected="selected">- Select -</option>
						<option value="registration">Account Question</option>
						<option value="technical">Sales Question</option>
						<option value="accessibility">Technical Support Question</option>
						<option value="exams">Idea to Share</option>
						<option value="account">General / Other Question</option>
					</select>
				</td>
			</tr>
			<tr>
				<td> Message:      </td>
				<td><textarea name="textarea" style="width:361px; height:150px;" class="connect_us_textarea"></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td style="padding:20px 20px 0 0;text-align:right;"><input type="Submit" name="" value="Submit" /></td>
			</tr>
            
		</table>
	    <!--@end-->
      </div>
    </div>
    <br style="clear:both"/>
  </div>
</div>
