<%! from django.utils.translation import ugettext as _ %>

<%!
  from django.core.urlresolvers import reverse
  from courseware.courses import course_image_url, get_course_about_section
  from courseware.access import has_access
  from certificates.models import CertificateStatuses
  from xmodule.modulestore import MONGO_MODULESTORE_TYPE
  from xmodule.modulestore.django import modulestore
#@begin:Import new fields data
#@date:2013-11-02        
  from prop_dict.models import schools,districts,subject_areas,grade_levels,years_in_educations
  from prop_dict.models import get_district,get_school,get_grade_level,get_subject_area,get_years_in_education
#@end
%>

<!--@begin:Hide Dashboard button in this page-->
<!--@date:2013-11-02-->
<style type="text/css" media="screen">
  #btn-dashboard{display:none;}
</style>
<!--@end-->

<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%block name="title"><title>${_("Dashboard")}</title></%block>
<!--@begin:Add new page style-->
<!--@date:2013-11-02-->
<style type="text/css" media="screen">
  #submit:hover,#submit_email_change:hover {
  background:#fc5;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.25s, 0.25s, 0.25s;
  transition-property:color, background,​ box-shadow;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  transition-duration:0.25s,​ 0.25s,​ 0.25s;
  color:#fff;
  }
  
  #submit,#submit_email_change {
  border-width:0;
  background:#f93;
  text-decoration: none;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-family: 'Open Sans',Verdana,Geneva,sans-serif;
  box-shadow: #a93 0px 2px 1px 0px;
  color:#fff;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  }
  
  #submit:normal,,#submit_email_change:normal {
  background:#126F9A;
  text-decoration: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-family: 'Open Sans',Verdana,Geneva,sans-serif;
  box-shadow: rgb(10, 74, 103) 0px 2px 1px 0px;
  color:#fff;
  transition-timing-function:cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  }
</style>
<!--@end-->

<%block name="js_extra">
  <script type="text/javascript">
/*@begin:Click the round button in grade_level table*/
/*@date:2013-11-02*/
     function click_grade_btn(i){
            var vals={}
            $.each($("#grade_level_id").val().split(","),function(i,v){
            if(v)vals[v]=1
            })
            var link=document.getElementById("grade_btn"+i)
            if($(link).hasClass("btn_class_active")){
            $(link).removeClass("btn_class_active");
            vals[i]=''
            }else{
            $(link).addClass("btn_class_active");
            vals[i]=1
            }
            var arVals=[]
            $.each(vals,function(i,v){
            if(v)arVals.push(i)
            })
            arVals.sort(function(a,b){return parseInt(a)>parseInt(b)})
            $("#grade_level_id").val(arVals.join());
            }
/*@end*/

    
  (function() {

    $(".email-settings").click(function(event) {
      $("#email_settings_course_id").val( $(event.target).data("course-id") );
      $("#email_settings_course_number").text( $(event.target).data("course-number") );
      if($(event.target).data("optout") == "False") {
        $("#receive_emails").prop('checked', true);
      }
    });

    $(".unenroll").click(function(event) {
      $("#unenroll_course_id").val( $(event.target).data("course-id") );
      $("#unenroll_course_number").text( $(event.target).data("course-number") );
    });

    $('#unenroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        location.href = "${reverse('dashboard')}";
      } else if (xhr.status == 403) {
        location.href = "${reverse('signin_user')}?course_id=" +
          $("#unenroll_course_id").val() + "&enrollment_action=unenroll";
      } else {
        $('#unenroll_error').html(
          xhr.responseText ? xhr.responseText : "An error occurred. Please try again later."
        ).stop().css("display", "block");
      }
    });

    $('#pwd_reset_button').click(function() {
      $.post('${reverse("password_reset")}',
             {"email"  : $('#id_email').val()},
             function(data){
               $("#password_reset_complete_link").click();
             });
    });

    $("#change_email_form").submit(function(){
      var new_email = $('#new_email_field').val();
/*@begin:Do not need to confirm passowrd when changing email*/
/*@date:2013-11-02*/

      //var new_password = $('#new_email_password').val();

      $.post('${reverse("change_email")}',
               {"new_email" : new_email, "password" : ""},
/*@end*/

               function(data) {
                 if (data.success) {
                   $("#change_email_title").html("Please verify your new email");
                   $("#change_email_form").html("<p>You'll receive a confirmation in your " +
                                                "in-box. Please click the link in the " +
                                                "email to confirm the email change.</p>");
                   $("#change_email_form").html("<p>${_('You\'ll receive a confirmation in your in-box. Please click the link in the email to confirm the email change.')}</p>");
                 } else {
                   $("#change_email_error").html(data.error).stop().css("display", "block");
                 }
               });
      return false;
    });

    $("#change_name_form").submit(function(){
/*@begin:Change the name to two fileds*/
/*@date:2013-11-02*/

      var new_first_name = $('#new_first_name_field').val();
      var new_last_name = $('#new_last_name_field').val();
      var rationale = $('#name_rationale_field').val();

      $.post('${reverse("change_name")}',
             {"new_first_name":new_first_name, "new_last_name":new_last_name,"rationale":rationale},
/*@end*/

             function(data) {
               if(data.success) {
                 location.reload();
                 // $("#change_name_body").html("<p>Name changed.</p>");
               } else {
                 $("#change_name_error").html(data.error).stop().css("display", "block");
               }
             });
       return false;
    });

<!--@begin:Process the newly added fields in dashboard-->
<!--@date:2013-11-02-->

     $("#change_school_form").find("select[name='school_id']").val('${user.profile.school_id}')

     
    $("#change_school_form").submit(function(){
      var school_id = $(this.school_id).val();

     
      $.post('${reverse("change_school")}',
             {"school_id":school_id},
             function(data) {
               if(data.success) {
                 location.reload();
               } else {
                 $("#change_school_error").html(data.error).stop().css("display", "block");
               }
             });
       return false;
    });
     $.each( '${user.profile.grade_level_id}'.split(',') ,function(i,v){
     if($.trim(v))
     click_grade_btn(v)
     })
     
   $("#change_grade_level_form").submit(function(){
      var grade_level_id = $(this.grade_level_id).val();

      $.post('${reverse("change_grade_level")}',
             {"grade_level_id":grade_level_id},
             function(data) {
               if(data.success) {
                 location.reload();
               } else {
                 $("#change_grade_level_error").html(data.error).stop().css("display", "block");
               }
             });
       return false;
    });


     

   $("#change_major_subject_area_form").find("select[name='major_subject_area_id']").val('${user.profile.major_subject_area_id}')

   $("#change_major_subject_area_form").submit(function(){
      var major_subject_area_id = $(this.major_subject_area_id).val();
      $.post('${reverse("change_major_subject_area")}',
             {"major_subject_area_id":major_subject_area_id},
             function(data) {
               if(data.success) {
                 location.reload();
               } else {
                 $("#change_major_subject_area_error").html(data.error).stop().css("display", "block");
               }
             });
       return false;
    });




     $("#change_years_in_education_form").find("select[name='years_in_education_id']").val('${user.profile.years_in_education_id}')

   $("#change_years_in_education_form").submit(function(){
      var years_in_education_id = $(this.years_in_education_id).val();
      $.post('${reverse("change_years_in_education")}',
             {"years_in_education_id":years_in_education_id},
             function(data) {
               if(data.success) {
                 location.reload();
               } else {
                 $("#change_years_in_education_error").html(data.error).stop().css("display", "block");
               }
             });
       return false;
    });


     

     $("#change_bio_form").find("textarea[name='bio']").val('${user.profile.bio}')
  $("#change_bio_form").submit(function(){
      var bio = $(this.bio).val();
      $.post('${reverse("change_bio")}',
             {"bio":bio},
             function(data) {
               if(data.success) {
                 location.reload();
               } else {
                 $("#change_bio_error").html(data.error).stop().css("display", "block");
               }
             });
       return false;
    });
<!--@end-->

    $("#email_settings_form").submit(function(){
      $.ajax({
        type: "POST",
        url: '${reverse("change_email_settings")}',
        data: $(this).serializeArray(),
        success: function(data) {
          if(data.success) {
            location.href = "${reverse('dashboard')}";
          }
        },
        error: function(xhr, textStatus, error) {
          if (xhr.status == 403) {
            location.href = "${reverse('signin_user')}";          
          }
        }
      });
      return false;
    });
  })(this)
  </script>
</%block>

<section class="container dashboard">
  %if message:
    <section class="dashboard-banner">
      ${message}
    </section>
  %endif
  <section class="profile-sidebar">
    <header class="profile">
      <h1 class="user-name">${ user.username }</h1>
    </header>
    <section class="user-info">
      <ul>
        <li>
<!--@begin:Profile：username-->
<!--@date:2013-11-02-->
          <span class="title">
            <div class="icon name-icon"></div>${_("Name")}:
            <span class="data" style="display:inline;margin-left:0;font-weight:normal;">${ user.profile.first_name | h } ${ user.profile.last_name | h }</span>
            (<a href="#apply_name_change" rel="leanModal" class="edit-name">${_("edit")}</a>)
<!--@end-->          
            
        </li>
<!--@begin:Profile：user photo-->
<!--@date:2013-11-02-->
        <li>
          <span class="title"><div class="icon email-icon" style="background-image:url(/static/images/portal-icons/photo.png) !important;">
            </div>${_("Uset Photo")}
            (<a href="#change_photo" rel="leanModal" class="edit-photo">${_("edit")}</a>)
          </span> <span class="data"></span>
        </li>
<!--@end-->          
        <li>
          <span class="title"><div class="icon email-icon"></div>${_("Email")}
            % if external_auth_map is None or 'shib' not in external_auth_map.external_domain:
            (<a href="#change_email" rel="leanModal" class="edit-email">${_("edit")}</a>)
            % endif
          </span> <span class="data">${ user.email | h }</span>
        </li>

        % if external_auth_map is None or 'shib' not in external_auth_map.external_domain:
        <li>
          <span class="title"><a href="#password_reset_complete" rel="leanModal" id="pwd_reset_button">${_("Reset Password")}</a></span>
          <form id="password_reset_form" method="post" data-remote="true" action="${reverse('password_reset')}">
            <input id="id_email" type="hidden" name="email" maxlength="75" value="${user.email}" />
            <!-- <input type="submit" id="pwd_reset_button" value="${_('Reset Password')}" /> -->
          </form>
        </li>
        % endif

<!--@begin:Profile: remove some not needed info-->
<!--@date:2013-11-02-->        
      <!-----------------------------------------------------------------------------------
		<li>
		  <span style="float:left;padding-left:0px;"><img src="${static.url('images/edx-user-photo.png')}" class="" alt="" /></span><span style="float:right;padding-right:0px;">Change picture (<a href="#apply_picture_change" rel="leanModal" class="">edit</a>)</span>
		</li>
		<li>
		  <span style="float:left;padding-left:0px;">Country: US</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span>
		  <br style="clear:both;"/>
		</li>
		<li>
		  <span style="float:left;padding-left:0px;">City,State: Aptos, Ca</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span>
		  <br style="clear:both;"/>
		</li>
		<li>
		  <span style="float:left;padding-left:0px;">Role tole in school: Teacher</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span>
		  <br style="clear:both;"/>
		</li>
		<li>
		  <span style="float:left;padding-left:0px;">Optional info</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span>
		  <br style="clear:both;"/>
		  <div style="padding-left:20px;">
			Web site: www.rioschool.edu<br/>
			IM: Mathgeek<br/>
			Institution: PVUSD<br/>
			Department:staff<br/>
			Phone:None<br/>
			Address:Here<br/>
		  </div>
		</li>
		<li>
		  <span style="float:left;padding-left:0px;">Professional History</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span>
		  <br style="clear:both;"/>
		  <div style="padding-left:20px;">
			School Name: Rio Elementary<br/>
			Role in School: Teacher<br/>
			Grade Level: 5/6<br/>
			Ave.Class Size: 35<br/>
		  </div>
		</li>
		<li>
		  <span style="float:left;padding-left:0px;">Class Profile</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span>
		  <br style="clear:both;"/>
		  <div style="border:3px solid #aaa;height:80px;padding:10px;">
			My class is divers and challenged..
		  </div>
		</li>

        -->
<!--@end-->

<!--@begin:Add some profile info-->
<!--@date:2013-11-02-->  
		<li>

		  <div style="font-family: 'Open Sans';font-size:12px;">
			<div style="line-height:30px;">State:
	          Alabama
			</div>
            
			<div style="line-height:30px;">District:
			  % if user.profile.district_id:
			  ${get_district(user.profile.district_id)['name']}
			  % endif
			</div>

			<div style="line-height:30px;">School:
			  % if user.profile.school_id:
			  ${get_school(user.profile.school_id)['name']}
			  % endif
			  (<a href="#change_school" rel="leanModal">edit</a>)
			</div>

			<div style="line-height:30px;">Grade Level:
			  % if user.profile.grade_level_id:
			  % for i,c in enumerate(user.profile.grade_level_id.split(',')):
			  % if len(c)>0:
			  % if i>0:
			  ,
			  % endif
			  ${get_grade_level(c)['name']}
			  % endif
			  % endfor
			  % endif
			  (<a href="#change_grade_level" rel="leanModal">edit</a>)
			</div>
			<div style="line-height:30px;">Major Subject Area:
			  % if user.profile.major_subject_area_id:
			  ${get_subject_area(user.profile.major_subject_area_id)['name']}
			  % endif
			  (<a href="#change_major_subject_area" rel="leanModal">edit</a>)
			</div>
			<div style="line-height:30px;">Number of Years Taught:
			  % if user.profile.years_in_education_id:
			  ${get_years_in_education(user.profile.years_in_education_id)['name']}
			  % endif
              (<a href="#change_years_in_education" rel="leanModal">edit</a>)
			</div>
		</li>

        <li>
          <div style="font-family: 'Open Sans';font-size:12px;">
            Bio: (<a href="#change_bio" rel="leanModal">edit</a>)
            <span id="">

              %if user.profile.bio:
              ${user.profile.bio}
              %else:
              Add info that you would like to share about yourself here:
              
              %endif
            </span>
          </div>
        </li>
<!--@end-->        
        
      </ul>
<!--@begin: Remove some profile info-->
<!--@date:2013-11-02-->  
         <!-- <div style="width:180px">  <span>City:Aptos</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span></div> -->
         <!-- <div style="width:180px"><span>State:Ca</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span></div> -->
         <!-- <div style="width:180px"><span>Zip:96003</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span></div> -->
         <!-- <div style="width:180px"><span>Address:(none)</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span></div> -->
         <!-- <div style="width:180px"><span>Phone:(none)</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span></div> -->
         <!-- <div><p/></div> -->
         <!-- <div style="width:180px"><span>District:Really big</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span></div> -->
         <!-- <div style="width:220px"><span>School:Ver Little School</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span></div> -->
         <!-- <div style="width:240px"><span>Role tale in school:Teacher</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span></div> -->
         <!-- <div style="width:230px"><span>Focus Grade(s)4,5,and 6</span>  <span style="float:right;padding-right:0px;">(<a href="" class="">edit</a>)</span></div> -->
       </div>
<!--@end-->      
    </section>

  </section>

<!--@begin:The styles used only in Dashboard-->
<!--@date:2013-11-02--> 
<style type="text/css" media="screen">
  a.btnx:hover {
  background: linear-gradient(#1e8bbe, #0e72a1); 
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.25s, 0.25s, 0.25s;
  transition-property:color, background,​ box-shadow;
  transition-timing-function:
  cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  transition-duration:0.25s,​ 0.25s,​ 0.25s;
  text-decoration:none;
  }
  
  a.btnx {
  background-clip: padding-box;
  border:1ps solid rgb(13, 114, 162);
  background-color:rgb(29, 157, 217);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d9dd9), color-stop(100%, #0e7cb0));
  background-image: -webkit-linear-gradient(#1d9dd9, #0e7cb0);
  background-image: linear-gradient(#1d9dd9, #0e7cb0);
  border: 1px solid #0d72a2;
  box-shadow: inset 0 1px 0 0 #61b8e1;
  text-decoration: none;
  padding:6px 32px 7px 32px;
  line-height:26px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  font-family: 'Open Sans',Verdana,Geneva,sans-serif;
  color:#fff;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  }
  
  a.btnx:normal {
  background-color:#126F9A;
  text-decoration: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-family: 'Open Sans',Verdana,Geneva,sans-serif;
  color:#fff;
  transition-timing-function:cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  }
</style>
<!--@end-->

<!--@begin:Add lastnew in Dashboard-->
<!--@date:2013-11-02-->
<section class="my-courses">
  <header style="width:886px;height:246px;margin:auto;position:relative;border-bottom:none;margin-bottom:30px;">
    <div style="position:absolute;background:url(${static.url('images/p15.png')});width:886px;height:246px;">
      <a href="/latest_news" style="margin:170px 0 0 227px;position:absolute;" class="btnx dashboard-btn1">${_('Latest News')}</a>
    </div>
  </header>
</section>
<!--@end-->

<section class="my-courses" style="" >
    <header>
      <h2>${_("Current Courses")}</h2>
    </header>
    % if len(courses_incomplated) > 0:
<!--@begin:Change the disply of the courses list in Dashboard-->
<!--@date:2013-11-02-->    
      % for i,course in enumerate(courses_incomplated):


    <%
       border_overide='';
       if i==len(courses_incomplated)-1:
         border_overide="border-bottom:3px solid #0098C9"
       %>
    
        <article class="my-course" style="${border_overide}" >
          <%
            course_target = reverse('courseware', args=[course.id])
          %>
          % if course.id in show_courseware_links_for:
            <a href="${course_target}" class="cover">
              <img src="${course_image_url(course)}" style="width:200px;height:104px;" alt="${_('{course_number} {course_name} Cover Image').format(course_number=course.number, course_name=course.display_name_with_default) |h}" />
            </a>
<!--@end-->          

            % else:
            <div class="cover">
              <img src="${course_image_url(course)}" alt="${_('{course_number} {course_name} Cover Image').format(course_number=course.number, course_name=course.display_name_with_default) | h}" />
            </div>
          % endif
          <section class="info">
            <hgroup>
<!--@begin:Change the display of current courses in Dashboard-->
<!--@date:2013-11-02-->                 

              <p class="date-block">
                ${_("Enrollment date - {end_date:%Y-%m-%d}").format(end_date=course.student_enrollment_date)}
              </p>
              % if False:
              <p class="date-block">
                
              % if course.has_ended():
              ${_("Course Completed - {end_date}").format(end_date=course.end_date_text)}
              % elif course.has_started():
              ${_("Course Started - {start_date}").format(start_date=course.start_date_text)}
              % else:   # hasn't started yet
              ${_("Course Starts - {start_date}").format(start_date=course.start_date_text)}
              % endif
              
              </p>
              % endif
<!--@end-->      

              <h2 class="university">${get_course_about_section(course, 'university')}</h2>
              <h3>
                % if course.id in show_courseware_links_for:
                  <a href="${course_target}">${course.display_number_with_default | h} ${course.display_name_with_default}</a>
                % else:
                  <span>${course.display_number_with_default | h} ${course.display_name_with_default}</span>
                % endif
              </h3>
            </hgroup>
            <%
                testcenter_exam_info = course.current_test_center_exam
                registration = exam_registrations.get(course.id)
                testcenter_register_target = reverse('begin_exam_registration', args=[course.id])
            %>
            % if testcenter_exam_info is not None:
                % if registration is None and testcenter_exam_info.is_registering():
                <div class="message message-status is-shown exam-register">
                  <a href="${testcenter_register_target}" class="button exam-button" id="exam_register_button">${_("Register for Pearson exam")}</a>
                  <p class="message-copy">${_("Registration for the Pearson exam is now open and will close on {end_date}").format(end_date="<strong>{}</strong>".format(testcenter_exam_info.registration_end_date_text))}</p>
                </div>
                % endif
                <!-- display a registration for a current exam, even if the registration period is over -->
                % if registration is not None:
                    % if registration.is_accepted:
                <div class="message message-status is-shown exam-schedule">
                   <a href="${registration.registration_signup_url}" class="button exam-button">${_("Schedule Pearson exam")}</a>
                   <p class="exam-registration-number">${_("{link_start}Registration{link_end} number: {number}").format(
                      link_start='<a href="{url}" id="exam_register_link">'.format(url=testcenter_register_target),
                      link_end='</a>',
                      number=registration.client_candidate_id,
                    )}</p>
                   <p class="message-copy">${_("Write this down! You'll need it to schedule your exam.")}</p>
                </div>
                    % endif
                    % if  registration.is_rejected:
                <div class="message message-status is-shown exam-schedule">
                  <p class="message-copy">
                    <strong>${_("Your registration for the Pearson exam has been rejected. Please {link_start}see your registration status details{link_end}.").format(
                      link_start='<a href="{url}" id="exam_register_link">'.format(url=testcenter_register_target),
                      link_end='</a>')}</strong>
                    ${_("Otherwise {link_start}contact edX at {email}{link_end} for further help.").format(
                      link_start='<a class="contact-link" href="mailto:{email}?subject=Pearson VUE Exam - {about} {number}">'.format(email="exam-help@edx.org", about=get_course_about_section(course, 'university'), number=course.display_number_with_default),
                      link_end='</a>',
                      email="exam-help@edx.org",
                     )}
                </div>
                    % endif
                   	% if not registration.is_accepted and not registration.is_rejected:
	            <div class="message message-status is-shown">
                  <p class="message-copy"><strong>${_("Your {link_start}registration for the Pearson exam{link_end} is pending.").format(link_start='<a href="{url}" id="exam_register_link">'.format(url=testcenter_register_target), link_end='</a>')}</strong>
                  ${_("Within a few days, you should see a confirmation number here, which can be used to schedule your exam.")}
                  </p>
                </div>
                    % endif
                % endif
            % endif
            <%
            cert_status = cert_statuses.get(course.id)
            %>
            % if course.has_ended() and cert_status:
                <%
                if cert_status['status'] == 'generating':
                    status_css_class = 'course-status-certrendering'
                elif cert_status['status'] == 'ready':
                    status_css_class = 'course-status-certavailable'
                elif cert_status['status'] == 'notpassing':
                    status_css_class = 'course-status-certnotavailable'
                else:
                    status_css_class = 'course-status-processing'
                %>
                <div class="message message-status ${status_css_class} is-shown">
                % if cert_status['status'] == 'processing':
                      <p class="message-copy">${_("Final course details are being wrapped up at this time. Your final standing will be available shortly.")}</p>
                % elif cert_status['status'] in ('generating', 'ready', 'notpassing', 'restricted'):
                      <p class="message-copy">${_("Your final grade:")}
                      <span class="grade-value">${"{0:.0f}%".format(float(cert_status['grade'])*100)}</span>.
                      % if cert_status['status'] == 'notpassing':
                         ${_("Grade required for a certificate:")} <span class="grade-value">
                           ${"{0:.0f}%".format(float(course.lowest_passing_grade)*100)}</span>.
                      % elif cert_status['status'] == 'restricted':
                          <p class="message-copy">
                          ${_("Your certificate is being held pending confirmation that the issuance of your certificate is in compliance with strict U.S. embargoes on Iran, Cuba, Syria and Sudan. If you think our system has mistakenly identified you as being connected with one of those countries, please let us know by contacting {email}.").format(email='<a class="contact-link" href="mailto:{email}">{email}</a>.'.format(email=settings.CONTACT_EMAIL))}
                          </p>
                      % endif
                      </p>
                % endif
                % if cert_status['show_disabled_download_button'] or cert_status['show_download_url'] or cert_status['show_survey_button']:
                  <ul class="actions">
                    % if cert_status['show_disabled_download_button']:
                      <li class="action"><span class="disabled">
                          ${_("Your Certificate is Generating")}</span></li>
                    % elif cert_status['show_download_url']:
                      <li class="action">
                      <a class="btn" href="${cert_status['download_url']}"
                         title="${_('This link will open/download a PDF document')}">
                         Download Your PDF Certificate</a></li>
                    % endif
                    % if cert_status['show_survey_button']:
                      <li class="action"><a class="cta" href="${cert_status['survey_url']}">
                             ${_('Complete our course feedback survey')}</a></li>
                    % endif
                  </ul>
                % endif
                </div>
            % endif

                
            <link rel="stylesheet" href="/static/tmp-resource/css/main.css" type="text/css" media="screen" />
            % if course.id in show_courseware_links_for:
              % if course.has_ended():
                <a href="${course_target}" class="enter-course archived">${_('View Archived Course')}</a>
              % else:
                <a href="${course_target}" class="enter-course dashboard-btn1">${_('View Course')}</a>
				<!--@begin:make the 'View Portfolio' button enabled-->
				<!--@date:2013-11-02-->
				<a href="${reverse('portfolio_about_me',args=[course.id])}" class="enter-course dashboard-btn2" style="margin-left:10px;">${_('View Portfolio')}</a>
				<!--@end-->
              % endif
            % endif

           

                
            <a href="#unenroll-modal" class="unenroll" rel="leanModal" data-course-id="${course.id}" data-course-number="${course.number}">${_('Unregister')}</a>
	    % if settings.MITX_FEATURES['ENABLE_INSTRUCTOR_EMAIL'] and modulestore().get_modulestore_type(course.id) == MONGO_MODULESTORE_TYPE:
	      <!-- Only show the Email Settings link/modal if this course has bulk email feature enabled -->
              <a href="#email-settings-modal" class="email-settings" rel="leanModal" data-course-id="${course.id}" data-course-number="${course.number}" data-optout="${course.id in course_optouts}">${_('Email Settings')}</a>
	    % endif
          </section>
        </article>
      % endfor

    % else:
      <section class="empty-dashboard-message">
        <p>${_("Looks like you haven't registered for any courses yet.")}</p>
        <a href="${marketing_link('COURSES')}">
            ${_("Find courses now!")}
        </a>
      </section>
    % endif
    % if staff_access and len(errored_courses) > 0:
      <div id="course-errors">
        <h2>${_("Course-loading errors")}</h2>
      % for course_dir, errors in errored_courses.items():
         <h3>${course_dir | h}</h3>
             <ul>
           % for (msg, err) in errors:
               <li>${msg}
                 <ul><li><pre>${err}</pre></li></ul>
               </li>
           % endfor
             </ul>
      % endfor
    % endif
<!--@begin:Shown completed course list-->
<!--@date:2013-11-02-->
          <header>
            <h2>${_("Completed Courses")}</h2>
          </header>
          <%include file="completed_courses.html" />
<!--@end-->

</section>
</section>

<!--@begin:Chagne the table with new profile fields-->
<!--@date:2013-11-02-->
<section id="change_photo" class="modal">
  <div class="inner-wrapper">
    <header>
      <h2>${_('Add Profile Picture').format(course_number='<span id="email_settings_course_number"></span>')}</h2>
      <hr/>
    </header>
    <form id="" method="post">
      <fieldset>
        <div class="input-group">

          <label>
            <div style="border:5px solid #999;width:110px;height:110px;">
              <img src="" style="" alt="" />
            </div>
          </label>
          <label style="margin:20px 0;display:block;">
            <input type="file" name="" value="Chose a file" />
          </label>
          <label>
            Limited to 110 * 110
          </label>             
        </div>
      </fieldset>
      <div class="submit">
        <input type="submit" class="btnx" id="submit" value="Upload" />
      </div>          
    </form>
    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
  </div>
</section>

<section id="change_school" class="modal">
  <div class="inner-wrapper">
    <header>
      <h2>${_('Change My School').format(course_number='<span id="email_settings_course_number"></span>')}</h2>
      <hr/>
    </header>
    <form id="change_school_form" method="post">
      <fieldset>
        <div class="input-group">
            <label>School:</label>
            <label style="margin:20px 0;display:block;">
              <select name="school_id" style="width:100%" autocomplete="off">

              	% if user.profile.district_id:
                
                %for item in schools(user.profile.district_id):
                <option value="${item['id']}">${item['name']}</option>
                %endfor
                
              	% endif
              </select>
          </label>
        </div>
      </fieldset>
      <div class="submit">
        <input type="submit" class="btnx" id="submit" value="Save Changes" />
      </div>
    </form>
    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
  </div>
</section>

<link rel="stylesheet" href="/static/tmp-resource/css/main.css" type="text/css" media="screen" />

<section id="change_grade_level" class="modal">
  <div class="inner-wrapper">
    <header>
      <h2>${_('Change My Grade Level').format(course_number='<span id="email_settings_course_number"></span>')}</h2>
      <hr/>
    </header>
    <form id="change_grade_level_form" method="post">
      <fieldset>
        <label id="">
          Grade Level-Check all that apply:
        </label>
        <div class="input-group">
          <label style="margin:20px 0;display:block;">
            <input id="grade_level_id" type="hidden" name="grade_level_id" value="" autocomplete="off"/>


            %for item in grade_levels():
       
            
            <span class="level">
              <a href="#" id="grade_btn${item['id']}" class="btn_class" onclick="click_grade_btn(${item['id']});return false">
                ${item['name']}
              </a>
            </span>
            %endfor
            <br style="clear:both;"/>
          </label>
        </div>
      </fieldset>
      <div class="submit">
        <input type="submit" class="btnx" id="submit" value="Save Changes" />
      </div>          
    </form>
    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
  </div>
</section>




<section id="change_major_subject_area" class="modal">
  <div class="inner-wrapper">
    <header>
      <h2>${_('Change My Subject Area').format(course_number='<span id="email_settings_course_number"></span>')}</h2>
      <hr/>
    </header>
    <form id="change_major_subject_area_form" method="post">
      <fieldset>
        <div class="input-group">
          <label style="margin:20px 0;display:block;">
            <select id="major_subject_area_id" name="major_subject_area_id" style="width:100%" autocomplete="off">
              %for item in subject_areas():
              <option value="${item['id']}">${item['name']}</option>
              %endfor
            </select>
          </label>
        </div>
      </fieldset>
      <div class="submit">
        <input type="submit" class="btnx" id="submit" value="Save Changes" />
      </div>          
    </form>
    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
  </div>
</section>

<section id="change_years_in_education" class="modal">
  <div class="inner-wrapper">
    <header>
      <h2>${_('Change My Subject Area').format(course_number='<span id="email_settings_course_number"></span>')}</h2>
      <hr/>
    </header>
    <form id="change_years_in_education_form" method="post">
      <fieldset>
        <div class="input-group">
          <label style="margin:20px 0;display:block;">
            <select id="years_in_education_id" name="years_in_education_id" style="width:100%" autocomplete="off">
              %for item in years_in_educations():
              <option value="${item['id']}">${item['name']}</option>
              %endfor
            </select>
          </label>
        </div>
      </fieldset>
      <div class="submit">
        <input type="submit" class="btnx" id="submit" value="Save Changes" />
      </div>          
    </form>
    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
  </div>
</section>

<section id="change_bio" class="modal">
  <div class="inner-wrapper">
    <header>
      <h2>${_('Change My BIO').format(course_number='<span id="email_settings_course_number"></span>')}</h2>
      <hr/>
    </header>
    <form id="change_bio_form" method="post">
      <fieldset>
        <div class="input-group">
          <label>
            <textarea name="bio" rows="" cols="" tabindex="" style="width:100%;height:100%;height:300px;resize:none;"></textarea>
          </label>
          <section style="color:black;">
            Limited to 255 Characters
          </section>
        </div>
      </fieldset>
      <div class="submit">
        <input type="submit" class="btnx" id="submit" value="Save Changes" />
      </div>          
    </form>
    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
  </div>
  <!--@end-->

</section>

<section id="email-settings-modal" class="modal">
  <div class="inner-wrapper">
    <header>
      <h2>${_('Email Settings for {course_number}').format(course_number='<span id="email_settings_course_number"></span>')}</h2>
      <hr/>
    </header>
    <form id="email_settings_form" method="post">
      <input name="course_id" id="email_settings_course_id" type="hidden" />
      <label>${_("Receive course emails")} <input type="checkbox" id="receive_emails" name="receive_emails" /></label>
      <div class="submit">
<!--@begin:Chagne the button bolor in Email Settings table-->
<!--@date:2013-11-02-->
        <input type="submit" class="btnx" id="submit" value="Save Settings" />
<!--@end-->        
        
      </div>
    </form>
    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
  </div>
</section>

<section id="unenroll-modal" class="modal unenroll-modal">
  <div class="inner-wrapper">
    <header>
      <h2>${_('Are you sure you want to unregister from {course_number}?').format(course_number='<span id="unenroll_course_number"></span>')}</h2>
      <hr/>
    </header>
    <div id="unenroll_error" class="modal-form-error"></div>
    <form id="unenroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <input name="course_id" id="unenroll_course_id" type="hidden" />
      <input name="enrollment_action" type="hidden" value="unenroll" />
      <div class="submit">
        <input name="submit" type="submit" value="Unregister" />
      </div>
    </form>
    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
  </div>
</section>
<section id="password_reset_complete" class="modal">
  <div class="inner-wrapper">
    <header>
      <h2>${_('Password Reset Email Sent')}</h2>
      <hr/>
    </header>
    <div>
      <form> <!-- Here for styling reasons -->
        <section>
          <p>${_('An email has been sent to {email}. Follow the link in the email to change your password.').format(email=user.email)}</p>
        </section>
      </form>
    </div>
    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
  </div>
</section>
<section id="change_email" class="modal">
  <div class="inner-wrapper">
    <header>
<!--@begin:Change the title of email table-->
<!--@date:2013-11-02-->            
      <h2><span id="change_email_title">${_("Change My Email")}</span></h2>
<!--@end-->
      <hr/>
    </header>
    <div id="change_email_body">
      <form id="change_email_form">
        <div id="change_email_error" class="modal-form-error"> </div>
        <fieldset>
          <div class="input-group">
<!--@begin:Change the email table-->
<!--@date:2013-11-02-->            
            <label>${_('Please edit your email below:')}</label>
            <input id="new_email_field" type="email" value="${user.email}" />
            <!-- <label>${_('Please confirm your password:')}</label> -->
            <!-- <input id="new_email_password" value="" type="password" /> -->
          </div>
          <!-- <section> -->
          <!--   <p>${_('We will send a confirmation to both {email} and your new email as part of the process.').format(email=user.email)}</p> -->
          <!-- </section> -->
<!--@end-->          
          <div class="submit">
            <input type="submit" id="submit_email_change" value="${_('Change Email')}"/>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
  </div>
</section>
<!--@begin:User photo upload table-->
<!--@date:2013-11-02-->
<section id="apply_picture_change" class="modal">
  <div class="inner-wrapper">
    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
    <header>
      <h2>Picture uploading</h2>
      <hr/>
    </header>
    <div id="">
      <form method="" id="" action="">
       <fieldset>
          <div class="input-group">
            <label>Please choose a file.</label>
            <input type="file" name="file" value="" />
          </div>
          <div class="submit">
            <input type="submit" id="submit" value="Upload now">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
<!--@end-->

<section id="apply_name_change" class="modal">
  <div class="inner-wrapper">
    <header>
      <h2>${_("Change your name")}</h2>
      <hr/>
    </header>
    <div id="change_name_body">
      <form id="change_name_form">
        <div id="change_name_error" class="modal-form-error"> </div>
        <p>${_("To uphold the credibility of {platform} certificates, all name changes will be logged and recorded.").format(platform=settings.PLATFORM_NAME)}</p>
        <br/>
        <fieldset>
          <div class="input-group">
            <label>${_("Enter your desired full name, as it will appear on the {platform} certificates:").format(platform=settings.PLATFORM_NAME)}</label>
<!--@begin:Username change table-->
<!--@date:2013-11-02-->            
            <br/><br/>
            
            <label style="font-style:normal;color:#666;font-size:16px;font-family:'open sans'">First Name</label>
            <input id="new_first_name_field" value="" type="text" />
            <label style="font-style:normal;color:#666;font-size:16px;font-family:'open sans'">Last Name</label>
            <input id="new_last_name_field" value="" type="text" />
<!--@end-->
            
            <label>${_("Reason for name change:")}</label>
            <textarea id="name_rationale_field" value=""></textarea>
            
          </div>
          <div class="submit">
            <input type="submit" id="submit" value="${_('Change My Name')}">
          </div>
        </fieldset>
      </form>
    </div>
    <div class="close-modal">
      <div class="inner">
        <p>&#10005;</p>
      </div>
    </div>
  </div>
</section>
