<%! from django.utils.translation import ugettext as _ %>

<%!
  from django.core.urlresolvers import reverse
  from courseware.courses import course_image_url, get_course_about_section
  from courseware.access import has_access
  from certificates.models import CertificateStatuses
  from xmodule.modulestore import MONGO_MODULESTORE_TYPE
  from xmodule.modulestore.django import modulestore
%>

<style type="text/css" media="screen">
  #btn-dashboard{display:none;}
</style>

<%inherit file="main.html" />

<%namespace name='static' file='static_content.html'/>

<%block name="title"><title>${_("Dashboard")}</title></%block>


<div style="text-align:center;">
  <div style="width:960px;text-align:left;margin:auto;">
    <h1 style="text-align:left;margin-top:40px;">Latest News<h1>

  </div>
</div>
