<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%! from time import strftime %>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<!--@begin:add css link-->
<!--@date:2013-11-02-->
<link rel="stylesheet" type="text/css"  href="/static/tmp-resource/css/ppd-general01.css"/>
<!--@end-->


<style type="text/css" media="screen">
  #page-nav,#page-footer{
  width:960px;
  }
  #main-div *{text-align:left;}
  div.block{
  background:#E6F4FB;width:172px;height:300px;float:left;padding:10px;
  }
	/*@begin:add new style for the video*/
	/*@date:2013-11-02*/
	#ppd_video_image
	{	
		width:281px;
		height:164px;
		cursor:pointer;
		float:right;
		margin:15px 60px 0px 0px;
		border:2px solid #000;
	}
	#ppd_video_image_img
	{	
		width:267px;
		height:150px;
		border:2px solid #fff;
		margin:5px 5px 5px 5px;
	}
	#ppd_video_main
	{
		width:480px;
		height:270px;
		position:absolute;
		left:300px;
		top:78px;
		border:1px solid;
		display:none;
	}
	#ppd_video_close
	{
		width:20px;
		height:20px;
		position:absolute;
		left:460px;
		cursor:pointer;
		z-index:1;
	}
	/*@end*/
</style>

<!--@begin:add jq/js code to control the video-->
<!--@date:2013-11-02-->
<script>
jQuery(function($){
	var id_ppd_video_main = document.getElementById('ppd_video_main');
	var id_ppd_video_image = document.getElementById('ppd_video_image');
	var id_ppd_video_close = document.getElementById('ppd_video_close');
	var odiv = document.getElementById('main-div');
	var odiv_x = odiv.offsetWidth;
	
	id_ppd_video_main.style.left = odiv_x/2-250+'px';
	
	id_ppd_video_image.onmousedown = function()
	{
		
		$("#ppd_video_main").fadeIn(600);
		document.getElementById('sampleMovie').play();
	}
	
	id_ppd_video_close.onmousedown = function()
	{
		$("#ppd_video_main").fadeOut(300);
		document.getElementById('sampleMovie').pause();
		document.getElementById('sampleMovie').currentTime = 0;
	}
});
</script>
<!--@end-->

<div id="main-div" style="text-align:center;background:#f5f5f5">
  <div id="div_all" style="width:960px;border:0px solid;margin:auto;height:1220px;background:#fff;">
    <!--@begin:use new image name(ppd-...); modify the style-->
	<!--@date:2013-11-02-->
	<div style="height:195px;background:url(static/images/ppd-general-banner01.png);">
	<!--@end-->

		<!--@begin:use html text to replace the text on the picture; add code(class="_...") to modify font style-->
		<!--@date:2013-11-02-->
		<div style="width:580px;float:left">
			<section class="_banner_title_font">
				BUILDING CORE CONFIDENCE
				<section class="_banner_title_content_font">
					through online professional development courses
					<br>
					wherever and whenever you want
				</section>
			</section>
		</div>
		<!--@end-->

		
		<!--@begin:add preview of the video-->
		<!--@date:2013-11-02-->
		<div id="ppd_video_image">
			<img id="ppd_video_image_img" src="static/images/ppd-whatis-videoimage01.png" width="267" height="150"/>
		</div>
		<!--@end-->
    </div>
	
	<!--@begin:add the video-->
	<!--@date:2013-11-02-->
	<div id="ppd_video_main">
        <div id="ppd_video_close">
        	<img src="static/images/ppd-video-close01.png" width="20" height="20"/>
        </div>
        <video id="sampleMovie" src="static/video/ppd-whatis-banner01.mp4" controls></video>
    </div>
   	<!--@end-->

   	<!--@begin:modify some content and style-->
	<!--@date:2013-11-02-->
    <div style="padding-bottom:20px;width:930px;">
		<div style="width:450px;margin:auto;float:left;padding-left:20px;">
			<img src="static/images/ppd-whatispepper-content01.jpg" style="padding-top:10px;" alt="" />
		</div>
		
		<div style="padding-top:45px;">
			<p style="font-size:25px;color:#666;line-height:31px;">More Than Just Professional Development Courses</p>
			<br>
			<ul class="_body_content_font">
				<li style="padding-bottom:10px;">Enjoy unlimited access to online self-paced professional development on your own schedule 24/7.</li>
				<li style="padding-bottom:10px;">Build a professional portfolio of work in each course to share with others.</li>
				<li style="padding-bottom:10px;">Find, collaborate, and join in discussions with other educators in your peer network.</li>
				<li style="padding-bottom:10px;">Put your understanding into action with powerful resources for teachers and students.</li>
			</ul>
		</div>
	</div>
	
	<div style="padding-bottom:10px;width:930px;">
		<div style="width:290px;margin:auto;float:left;padding-left:30px;">
			<p style="font-size:25px;color:#666;padding-top:30px;line-height:31px;"">
				Empower All Educators to become Common Core Specialists
			</p>
			<br>
			<br>
			<section class="_body_content_font" style="width:250px;">
				Pepper's affordable annual membership ensures that you can provide powerful Common Core professional development to every teacher in your district.
			</section>
		</div>
		<div style="text-align:right;">
			<img src="static/images/ppd-whatispepper-content02.jpg" style="padding-top:25px;" alt="" />
		</div>
   </div>
	
	<div style="width:930px;">
		<div style="width:530px;margin:auto;float:left;padding-left:30px;">
			<img src="static/images/ppd-whatispepper-content03.jpg" style="padding-top:25px;" alt="" />
		</div>
		
		<div>
			<p style="font-size:25px;padding-top:40px;color:#666;line-height:31px;">
				Expand Your 
				<br>
				Professional Network
			</p>
			<br>
			<br>
			<section class="_body_content_font">
				Share, discuss and collaborate with other inspired educators - just like you - from across the nation. Pepper provides the opportunity to expand your peer network by connecting with other teachers on the journey towards Common Core instructional mastery.
			</section>
		</div>
	</div>
	<!--@end-->
  </div>
</div>
